<template>
    <div class="comment-part">
            <div class="has-comment" v-if="xmComment.length!=0">
                <!--有评论时-->
                <div class="comment-title b-border">评论</div>
                <ul class="comments" v-for="item in xmComment">
                        <li class="comment">
                            <img v-bind:src="item.avatars" class="user-img" v-on:click="showDialog"/>
                            <div class="comment-info b-border">
                                <div class="line">
                                    <span class="comment-user">{{item.name}}</span>
                                    <span class="comment-time">{{item.time}}</span>
                                </div>
                                <div class="comment-ctn">{{item.content}}</div>
                            </div>
                        </li>
                </ul>
            </div>
            <!--没有评论时-->
            <div class="no-comment" v-else>
                <img src="./../../videoDetails/index/static/nocomment.png" class="comment-img"/>
                <div class="remind-text">还没有人评论<br/>快来抢个沙发吧</div>
            </div>
    </div>
</template>
<script>
export default{
    props:['xmComment'],
    methods:{
            showDialog(){
                $('#mask').show();
                $('#dialog').show();
            }
    }
}
</script>
<style>
.comment-part {
    margin-top: 15px;
    padding: 0 15px 125px 15px;
    background-color: #FFFFFF;
}

.comment-title {
    position: relative;
    height: 30px;
    line-height: 30px;
    font-size: 13px;
    color: #8d8d8d;
}

.comment {
    padding: 15px 0 0;
    overflow: hidden;
}

.user-img {
    float: left;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
}

.comment-info {
    position: relative;
    overflow: hidden;
    padding: 0 20px 15px 0;
}

.line {
    margin-top: -5px;
}

.comment-user {
    font-size: 12px;
    color: #080607;
}

.comment-time {
    font-size: 10px;
    color: #8c8c8c;
}

.comment-ctn {
    margin-top: 5px;
    font-size: 12px;
    color: #8c8c8c;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

/*0.5px边框处理*/
.b-border:after {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 1px;
    background-color: #e2e2e4;
    -webkit-transform: scaleY(.5);
    -moz-transform: scaleY(.5);
    -ms-transform: scaleY(.5);
    -o-transform: scaleY(.5);
}

.no-comment {
    padding-top: 50px;
    text-align: center;
}
.comment-img{
    width: 129px;
}
.remind-text{
    margin-top: 10px;
    color: #8c8c8c;
    font-size: 16px;
}
</style>