<template>
    <div class="mask" id="mask"></div>
    <div class="dialog" id="dialog">
        <div class="dialog-text">下载咕咚冰雪<br/>查看更多精彩内容</div>
        <div class="btns">
            <a href="#" class="btn btn-close" v-on:click="closeDialog">关闭</a>
            <a href="#" class="btn btn-downloads">下载</a>
        </div>
    </div>
</template>

<script>
export default{
  methods:{
    closeDialog(){
        $("#mask").hide();
        $("#dialog").hide();
    }
  }
}
</script>

<style>
     .mask{
               display: none;
               position: fixed;
               top:0;
               left: 0;
               width: 100%;
               height: 100%;
               background-color: rgba(0, 0, 0, 0.2);
           }
           .dialog{
               display: none;
               position: absolute;
               margin: auto;
               top:0;
               bottom:0;
               left: 0;
               right: 0;
               width: 270px;
               height: 165px;
               font-size: 14px;
               color: #8c8c8c;
               background-color: #FFFFFF;
               border-radius: 8px;
           }
           .dialog-text{
               text-align: center;
               margin-top: 50px;
           }
           .btns{
               position: absolute;
               bottom: 0;
               left: 0;
               width: 100%;
               padding: 15px 0;
               /*去除display:inline-block元素之间间距*/
               display:table;  /* 调教webkit*/
               word-spacing:-1em;/*其他浏览器*/
           }
           .btn{
               text-decoration: none;
               display: inline-block;
               text-align: center;
               width: 50%;
               -webkit-box-sizing: border-box;
               -moz-box-sizing: border-box;
               box-sizing: border-box;
           }
           .btn-close{
               color: #8c8c8c;
           }
           .btn-downloads{
               color: #7a3bea;
               border-left: 1px solid #d5d5d5;
           }
</style>
