<template>
    <div class="download">
        <img src="./../../videoDetails/index/static/icon-wanou.png" class="app-icon"/>
        <span class="app-name">咕咚冰雪</span>
        <a href="#" class="btn-download">立即下载</a>
    </div>
</template>

<style>
.download{
    position: fixed;
    bottom: 0;
    left: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    padding: 10px 15px;
    background-color: #FFFFFF;
    -webkit-box-shadow:  0 -2px 5px #dddddd;
    -moz-box-shadow:  0 -2px 5px #dddddd;
    box-shadow:   0 -2px 5px #dddddd;
}
.app-icon{
    width: 50px;
    height: 50px;
    vertical-align: middle;
}
.app-name{
    font-size: 14px;
    color: #8c8c8c;
    margin-left: 15px;
}
.btn-download{
    float: right;
    margin-top: 5px;
    text-decoration: none;
    display: inline-block;
    width: 100px;
    height: 38px;
    line-height: 38px;
    font-size: 16px;
    color: #7a3bea;
    text-align: center;
    border:1px solid #7a3bea;
    border-radius: 5px;
}
</style>