<template>
     <div class="image-info">
             <!--一张图片-->
              <div class="images" v-if="imageLen==1">
                  <div class="img-container img-1-container">
                      <img v-bind:src="xmArticle.images[0]" class="img img-1"/>
                  </div>
              </div>
              <!--两张图片-->
              <div class="images" v-if="imageLen==2">
                  <div class="img-container img-2-container">
                      <img v-bind:src="xmArticle.images[0]" class="img img-2"/>
                  </div>
                  <div class="img-container img-2-container ml">
                      <img v-bind:src="xmArticle.images[1]" class="img img-2"/>
                  </div>
              </div>
            <!--三张图片-->
            <div class="images" v-if="imageLen==3">
                        <div class="img-container img-container-part-2">
                            <img v-bind:src="xmArticle.images[0]" class="img img-3"/>
                        </div>
                        <div class="img-container img-container-part-2 mt">
                            <div class="img-container img-3-container">
                                <img v-bind:src="xmArticle.images[1]" class="img img-3"/>
                            </div>
                            <div class="img-container img-3-container ml">
                                <img v-bind:src="xmArticle.images[2]" class="img img-3"/>
                            </div>
                        </div>
            </div>

             <!--四张图片-->
            <div class="images" v-if="imageLen==4">
                <div class="img-container img-container-part-2">
                    <div class="img-container img-4-container">
                        <img v-bind:src="xmArticle.images[0]" class="img img-4"/>
                    </div>
                    <div class="img-container img-4-container ml">
                        <img v-bind:src="xmArticle.images[1]"   class="img img-4"/>
                    </div>
                </div>
                <div class="img-container img-container-part-2 mt">
                    <div class="img-container img-4-container">
                        <img v-bind:src="xmArticle.images[2]"   class="img img-4"/>
                    </div>
                    <div class="img-container img-4-container ml">
                        <img v-bind:src="xmArticle.images[3]" class="img img-4"/>
                    </div>
                </div>
            </div>
            <!--五张图片-->
            <div class="images" v-if="imageLen==5">
                <div class="img-container img-container-part-l">
                    <div class="img-container img-5-container">
                        <img v-bind:src="xmArticle.images[0]"   class="img img-5"/>
                    </div>
                    <div class="img-container img-5-container ml">
                        <img v-bind:src="xmArticle.images[1]"   class="img img-5"/>
                    </div>
                </div>
                <div class="img-container img-container-part-s mt">
                    <div class="img-container img-5-container-s">
                        <img v-bind:src="xmArticle.images[2]"   class="img img-5"/>
                    </div>
                    <div class="img-container img-5-container-s ml">
                        <img v-bind:src="xmArticle.images[3]"   class="img img-5"/>
                    </div>
                    <div class="img-container img-5-container-s ml">
                        <img v-bind:src="xmArticle.images[4]"   class="img img-5"/>
                    </div>
                </div>
            </div>
            <!--六张图片-->
            <div class="images" v-if="imageLen==6">
                <div class="img-container img-container-part-l">
                    <div class="img-container img-6-container-left">
                        <img v-bind:src="xmArticle.images[0]" class="img img-6"/>
                    </div>
                    <div class="img-container img-6-container-right ml">
                        <div class="img-container img-6-container">
                            <img v-bind:src="xmArticle.images[1]" class="img img-6"/>
                        </div>
                        <div class="img-container img-6-container mt">
                            <img v-bind:src="xmArticle.images[2]"
                                 class="img img-6"/>
                        </div>
                    </div>
                </div>
                <div class="img-container img-container-part-s mt">
                    <div class="img-container img-5-container-s">
                        <img v-bind:src="xmArticle.images[3]"   class="img img-6"/>
                    </div>
                    <div class="img-container img-5-container-s ml">
                        <img v-bind:src="xmArticle.images[4]" class="img img-6"/>
                    </div>
                    <div class="img-container img-5-container-s ml">
                        <img v-bind:src="xmArticle.images[5]"  class="img img-6"/>
                    </div>
                </div>
            </div>
            <!--七张图片-->
            <div class="images" v-if="imageLen==7">
                <div class="img-container img-container-part-3">
                    <div class="img-container img-7-container-l">
                        <img v-bind:src="xmArticle.images[0]" class="img img-7"/>
                    </div>
                    <div class="img-container img-7-container-l ml">
                        <img v-bind:src="xmArticle.images[1]" class="img img-7"/>
                    </div>
                </div>
                <div class="img-container img-container-part-3 mt">
                    <div class="img-container img-7-container-l">
                        <img v-bind:src="xmArticle.images[2]" class="img img-7"/>
                    </div>
                    <div class="img-container img-7-container-l ml">
                        <img v-bind:src="xmArticle.images[3]" class="img img-7"/>
                    </div>
                </div>
                <div class="img-container img-container-part-3 mt">
                    <div class="img-container img-7-container-s">
                        <img v-bind:src="xmArticle.images[4]" class="img img-7"/>
                    </div>
                    <div class="img-container img-7-container-s ml">
                        <img v-bind:src="xmArticle.images[5]" class="img img-7"/>
                    </div>
                    <div class="img-container img-7-container-s ml">
                        <img v-bind:src="xmArticle.images[6]" class="img img-7"/>
                    </div>
                </div>
            </div>
            <!--八张图片-->
            <div class="images" v-if="imageLen==8">
                <div class="img-container img-container-part-3">
                    <div class="img-container img-7-container-l">
                        <img v-bind:src="xmArticle.images[0]" class="img img-7"/>
                    </div>
                    <div class="img-container img-7-container-l ml">
                        <img v-bind:src="xmArticle.images[1]"   class="img img-7"/>
                    </div>
                </div>
                <div class="img-container img-container-part-3 mt">
                    <div class="img-container img-7-container-s">
                        <img v-bind:src="xmArticle.images[2]" class="img img-7"/>
                    </div>
                    <div class="img-container img-7-container-s ml">
                        <img v-bind:src="xmArticle.images[3]" class="img img-7"/>
                    </div>
                    <div class="img-container img-7-container-s ml">
                        <img v-bind:src="xmArticle.images[4]"  class="img img-7"/>
                    </div>
                </div>
                <div class="img-container img-container-part-3 mt">
                    <div class="img-container img-7-container-s">
                        <img v-bind:src="xmArticle.images[5]"   class="img img-7"/>
                    </div>
                    <div class="img-container img-7-container-s ml">
                        <img v-bind:src="xmArticle.images[6]"   class="img img-7"/>
                    </div>
                    <div class="img-container img-7-container-s ml">
                        <img v-bind:src="xmArticle.images[7]" class="img img-7"/>
                    </div>
                </div>
            </div>

            <!--九张图片-->
            <div class="images" v-if="imageLen==9">
                <div class="img-container img-container-part-3">
                    <div class="img-container img-7-container-s">
                        <img v-bind:src="xmArticle.images[0]"
                             class="img img-7"/>
                    </div>
                    <div class="img-container img-7-container-s ml">
                        <img v-bind:src="xmArticle.images[1]"
                             class="img img-7"/>
                    </div>
                    <div class="img-container img-7-container-s ml">
                        <img v-bind:src="xmArticle.images[2]"
                             class="img img-7"/>
                    </div>
                </div>
                <div class="img-container img-container-part-3 mt">
                    <div class="img-container img-7-container-s">
                        <img v-bind:src="xmArticle.images[3]"
                             class="img img-7"/>
                    </div>
                    <div class="img-container img-7-container-s ml">
                        <img v-bind:src="xmArticle.images[4]"
                             class="img img-7"/>
                    </div>
                    <div class="img-container img-7-container-s ml">
                        <img v-bind:src="xmArticle.images[5]"
                             class="img img-7"/>
                    </div>
                </div>
                <div class="img-container img-container-part-3 mt">
                    <div class="img-container img-7-container-s">
                        <img v-bind:src="xmArticle.images[6]"
                             class="img img-7"/>
                    </div>
                    <div class="img-container img-7-container-s ml">
                        <img v-bind:src="xmArticle.images[7]"
                             class="img img-7"/>
                    </div>
                    <div class="img-container img-7-container-s ml">
                        <img v-bind:src="xmArticle.images[8]"
                             class="img img-7"/>
                    </div>
                </div>
            </div>
            <div class="article">
                <div class="title">{{xmArticle.title}}</div>
                <div class="author">
                    <img v-bind:src="xmArticle.avatars" class="author-img" v-on:click="showDialog">
                    <div class="right-part">
                        <div class="author-name">{{xmArticle.autherName}}</div>
                        <div class="authore-other">{{xmArticle.pubDesc}}</div>
                    </div>
                    <a href="#" class="btn-focus" v-on:click="showDialog"><span>+</span><span class="focus">关注</span></a>
                </div>
            </div>
        </div>
</template>

<script>
    export default{
        props: ["xmArticle","imageLen"],
        methods:{
                showDialog(){
                    $('#mask').show();
                    $('#dialog').show();
                }
            }
    }
</script>

<style>
    .image-info {
        background-color: #FFFFFF;
    }

    /*图片展示布局：1-9张*/
    .images {
        width: 100%;
        height: 345px;
    }

    .img-container {
        position: relative;
        overflow: hidden;
    }

    .img {
        position: absolute;
        top: 0;
        left: 50%;
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
        transform: translateX(-50%);
    }

    .img-container-part-2 {
        width: 100%;
        height: 49.8%;
    }

    .img-container-part-3 {
        width: 100%;
        height: 33%;
    }

    .ml {
        margin-left: 0.4%;
    }

    .mt {
        margin-top: 0.4%;
    }

    .img-1-container {
        width: 100%;
        height: 100%;
    }

    .img-1 {
        height: 100%;
    }

    .img-2-container {
        float: left;
        height: 100%;
        width: 49.8%;
    }

    .img-2 {
        height: 100%;
    }

    .img-3-container {
        float: left;
        width: 49.8%;
        height: 100%;
    }

    .img-3 {
        width: 100%;
        min-height: 100%;
    }

    .img-4-container {
        float: left;
        width: 49.8%;
        height: 100%;
    }

    .img-4 {
        min-width: 100%;
        height: 100%;
    }

    .img-container-part-l {
        width: 100%;
        height: 66%;
    }

    .img-container-part-s {
        width: 100%;
        height: 33%;
    }

    .img-5-container {
        float: left;
        width: 49.8%;
        height: 100%;
    }

    .img-5-container-s {
        float: left;
        width: 33%;
        height: 100%;
    }

    .img-5 {
        min-width: 100%;
        height: 100%;
    }

    .img-6-container-left {
        float: left;
        width: 66%;
        height: 100%;
    }

    .img-6-container-right {
        float: left;
        width: 33%;
        height: 100%;
    }
    .img-6-container{
        width: 100%;
        height: 49.8%;
    }
    .img-6 {
        min-width: 100%;
        height: 100%;
    }
    .img-7-container-l{
        float: left;
        width: 49.8%;
        height: 100%;
    }
    .img-7-container-s{
        float: left;
        width: 33%;
        height: 100%;
    }
    .img-7{
        width: 100%;
        min-height: 100%;
    }

    /*图片展示布局结束*/
    .article {
        padding: 15px;
    }

    .title {
        font-size: 14px;
        color: #080607;
    }

    .author {
        margin-top: 15px;
        position: relative;
    }

    .author-img {
        float: left;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        margin-right: 8px;
    }

    .right-part {
        overflow: hidden;
    }

    .author-name {
        font-size: 12px;
        color: #080607;
    }

    .authore-other {
        font-size: 10px;
        color: #8c8c8c;
    }

    .btn-focus {
        text-decoration: none;
        position: absolute;
        right: 0;
        bottom: 0;
        display: block;
        padding: 2px 7px;
        font-size: 10px;
        text-align: center;
        color: #7a3bea;
        border: 1px solid #7a3bea;
        border-radius: 4px;
    }

    .focus {
        margin-left: 7px;
    }
</style>