<template>
  <div id="app">
    <Index></Index>
  </div>
</template>

<script>
import Index from '../../components/snowDownload/index.vue'
export default {
  components: {
    Index,
  },
  data () {
    return {

    }
  },
  ready () {

  }
}
</script>

<style>
    *{
      margin: 0;
      padding: 0;
    }
    body {
      font-family: "PingFangSC-Light",sans-serif,Arial,Helvetica,"Microsoft YaHei";
    }
    a{ -webkit-tap-highlight-color: rgba(0, 0, 0, 0);}


    .re{
      position: relative;
    }
    .ab{
      position: absolute;
    }
</style>
