<template>
   <div id="J-content" v-cloak>
       <xm-video v-bind:xm-article="article"></xm-video>
       <xm-comment v-bind:xm-comment="comments"></xm-comment>
   </div>
   <xm-tab></xm-tab>
   <xm-dialog></xm-dialog>
</template>

<script>
import XmVideo from '../../components/videoDetails/video.vue'
import XmComment from '../../components/details/comment.vue'
import XmTab from '../../components/details/tab.vue'
import XmDialog from "../../components/details/dialog.vue"
export default {
  data () {
    return {
        article:{},
        comments:[]
    }
  },
   components: {
       "xm-video":XmVideo,
       "xm-comment":XmComment,
       "xm-tab":XmTab,
       "xm-dialog":XmDialog
   },
   created(){
        var that=this,
        articleID=parseInt(that.getUrlParams("feedId"));
        //根据帖子ID获取文章信息
        $.ajax({
        	type: 'GET',
        	url: '/feeds',//http://ac-OnsG2j7w.clouddn.com/1a2b9787b42f4770.json
        	data: {
        	  feedId:articleID
        	},
        	dataType: 'json',
        	success: function(data){
        		console.log(data);
        		that.article=data.resp.article;
                that.comments=data.resp.remarks;
        	},
        	error: function(xhr, type){
        		console.log('Ajax error!')
        	}
        });
   },
   methods:{
        getUrlParams(name) {
            let reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)", "i"),
                r = window.location.search.substr(1).match(reg);
            if (r != null) return decodeURIComponent(r[2]);
            return null;
         }
   }
}
</script>

<style>
    * {
        margin: 0;
        padding: 0;
    }

    html, body {
        height: 100%;
    }

    body {
        font-family: "PingFangSC-Light", sans-serif, Arial, Helvetica, "Microsoft YaHei";
        background-color: #F2F2F2;
    }
    [v-cloak] {
      display: none;
    }
</style>
