<template>
  <div class="container">
    <!--pc-->
    <div class="index-con re">
      <!--left-->
      <div class="left-con">
        <p class="word1">咕咚冰雪</p>
        <p id="word2" class="word2">爱上冰雪，就在此刻</p>
        <div class="bottom-con">
          <div class="btn-con">
            <div @click="toDownios" class="btns btn-ios">
              <img src="./../../snowDownload/index/static/i-ios.png">
              <span>App Store下载</span>
            </div>
            <div class="btns btn-android">
              <img src="./../../snowDownload/index/static/i-android-no.png">
              <span>Android下载</span>
            </div>
          </div>
          <div class="erweima">
            <img src="./../../snowDownload/index/static/icon-wanou.png" alt="假设这是二维码">
          </div>
        </div>
      </div>
      <!--right-->
      <div class="right-con">
        <img class="phone-pc" src="./../../snowDownload/index/static/phone.png">
      </div>
    </div>
    <!--phone-->
    <div class="phone-show">
      <div class="des-con">
        <img class="titimg" src="./../../snowDownload/index/static/icon-wanou.png">
        <p class="w1">咕咚冰雪</p>
        <p class="w2">爱上冰雪，就在此刻</p>
        <div @click="tophonedown" class="phone-down-btn">立即下载</div>
      </div>
      <div class="icons-con">
        <img class="az-icon" src="./../../snowDownload/index/static/android-icon.png">
        <img class="ip-icon" src="./../../snowDownload/index/static/apple-icon.png">
      </div>
    </div>
  </div>
</template>

<script>


export default {
  data () {
    return {

    }
  },
  methods: {
    toDownios () {
      document.getElementById('word2').innerHTML='一手掌握冰雪运动';
      location.href='https://itunes.apple.com/us/app/gu-dong-bing-xue-bing-xue/id1140691496';
    } ,
//    toDownand () {
//      document.getElementById('word2').innerHTML='一手掌握冰雪运动';
//    } ,
    tophonedown(){
      location.href='https://itunes.apple.com/us/app/gu-dong-bing-xue-bing-xue/id1140691496';
    }

  }
}
</script>
<!-- Add "scoped" attribute to limit CSS to this component only -->
<style>
  .container{
    width: 100%;
    height: 100%;
  }
  .index-con{
    width: 66%;
    margin: 0 auto;
    position: fixed;
    left: 50%;
    margin-left: -33%;
    bottom: 0px;
    min-width: 800px;
  }
  .left-con,.right-con{
    float: left;
  }
  /**/
  .left-con{
    color: white;
    width: 40%;
    margin-top: 16%;
  }
  .word1{
     font-size: 40px;
   }
  .word2{
    font-size: 24px;
  }
  .bottom-con{
    width: 100%;
    min-width: 360px;
    margin-top: 13%;
    min-height: 200px;
  }
  .btn-con,.erweima{
    float: left;
  }
  .btn-con{
    margin-top: 20px;
  }
  .btns{
    width: 160px;
    height: 40px;
    border: 1px solid #ffffff;
    border-radius: 20px;
    font-size: 14px;
    text-align: center;
    line-height: 40px;
    background-color: transparent;
    transition:all 0.3s;
  }
  .btns img{
              vertical-align: middle;
              width: 20px;
   }
  .btn-ios:hover{
    background: rgba(68,83,249,0.3);
    border: 1px solid #8790fb;
    cursor: pointer;
  }
  .btn-ios{

  }

  .btn-android{
    margin-top: 20px;
    border: 1px solid rgba(225,225,225,0.4);
    color: rgba(225,225,225,0.3);
  }
  .erweima{
    width: 140px;
    height: 140px;
    margin-left: 26px;
  }
  .erweima img{
    width: 100%;
  }
/**/
  .right-con{
    background: url('./../../snowDownload/index/static/bg-pc.png') no-repeat;
    background-size: 90%;
    background-position: center;
    text-align: center;
    width: 60%;
    /*height: 480px;*/
  }
  .phone-pc{
    width: 56%;
    display: block;
    margin-left: 22%;
  }


  /*phone*/
  .phone-show{
    display: none;
    width: 100%;
    height: 100%;
    text-align: center;
    color: #7b3bea;
    background-position: center;
  }
  .des-con{
    width: 100%;
    min-height: 400px;
    background-image: url('./../../snowDownload/index/static/bg-phone.png');
    background-repeat: no-repeat;
    background-size: 70%;
    background-position: 26% 6%;
    background-color: transparent;
    display: inline-block;
    margin-top: 30%;
  }
  .titimg{
    width: 100px;
    height: 100px;
  }
  .w1{
    font-size: 30px;
    margin-top: 5%;
  }
  .w2{
    font-size: 20px;
  }
  .phone-down-btn{
    width: 160px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background: transparent;
    color: #7b3bea;
    border: 1px solid #7b3bea;
    border-radius: 20px;
    margin: 0 auto;
    margin-top: 16%;
  }
  .icons-con{
    position: absolute;
    bottom: 26px;
    width: 100%;
    height: 50px;
    background: transparent;
    overflow: hidden;
  }
  .az-icon{
    height: 50px;
  }
  .ip-icon{
    height: 50px;
    margin-left: 60px;
  }
  @media screen and (min-width: 1200px){
    html,body{
      width: 100%;
      height: 100%;
      background: -webkit-linear-gradient(left, #5577f4, #8041e8);
    }
    .index-con{
      display: block;
    }
    .phone-show{
      display: none;
    }

  }
  @media screen and (max-width: 1200px){
    html,body{
      width: 100%;
      height: 100%;
      background: -webkit-linear-gradient(left, #5577f4, #8041e8);
    }
    .index-con{
      width: 80%;
      margin-left: -40%;
      min-width: 800px;
    }
  }
  @media screen and (max-width: 1000px){
    html,body{
      width: 100%;
      height: 100%;
      background: -webkit-linear-gradient(left, #5577f4, #8041e8);
    }
    .index-con{
      width: 70%;
      margin-left: -35%;
      min-width: 536px;
    }
    .word1{
      font-size: 34px;
    }
    .word2{
      font-size: 20px;
    }
    .bottom-con{
      min-width: 200px;
      margin-top: 13%;
      min-height: 110px;
    }
    .btn-con{
      margin-top: 15px;
    }
    .btns{
      width: 140px;
      height: 30px;
      font-size: 12px;
      line-height: 30px;
      img{
        width: 15px;
      }
    }
    .btn-ios:hover{
      background: rgba(68,83,249,0.3);
      border: 1px solid #8790fb;
      cursor: pointer;
    }

    .btn-android{
      margin-top: 10px;
    }
    .erweima{
      width: 100px;
      height: 100px;
      margin-left: 15px;
    }

  }
  @media screen and (max-width: 920px){
    html,body{
      width: 100%;
      height: 100%;
      background: -webkit-linear-gradient(left, #5577f4, #8041e8);
    }
    .index-con{
      width: 80%;
      margin-left: -40%;
      min-width: 500px;
    }
  }
  @media screen and (max-width: 806px){
    html,body{
      min-height: 420px;
      background: transparent;
    }
    .index-con{
      display: none;
    }
    .phone-show{
      display: block;
      width: 100%;
      height: 100%;
    }
    .icons-con{
      display: none;
    }
  }
  @media screen and (max-width: 481px){
    .icons-con{
      display: block;
    }
  }
</style>
