<template>
 <div class="video-info">
        <video v-bind:src="xmArticle.videoUrl" controls="controls">
            <source v-bind:src="xmArticle.videoUrl" type="video/mp4">
            Your browser doesn't support HTML5 video tag.
        </video>
        <div class="article">
            <div class="title">{{xmArticle.title}}</div>
            <div class="summary">{{xmArticle.summary}}</div>
            <div class="author">
                <img  v-bind:src="xmArticle.avatars" class="author-img" v-on:click="showDialog">
                <span class="author-name">{{xmArticle.autherName}}</span>
            </div>
        </div>
    </div>
</template>
<script>
export default{
    props: ["xmArticle"],
    methods:{
        showDialog(){
            $('#mask').show();
            $('#dialog').show();
        }
    }
}
</script>

<style>
.video-info {
    background-color: #FFFFFF;
}

video {
    width: 100%;
    background-color: #000000;
}

.article {
    padding: 15px;
}

.title {
    font-size: 19px;
    color: #080607;
}

.summary {
    margin-top: 8px;
    font-size: 13px;
    color: #8d8d8d;
}

.author {
    margin-top: 15px;
}

.author-img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    vertical-align: middle;
    margin-right: 8px;
}

.author-name {
    font-size: 12px;
    color: #080607;
}
</style>